@media (max-width: 1285px) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 991px) {
  header {
    padding: 2rem 3%;
  }
  section {
    padding: 10rem 3% 2rem;
  }
  .timeline-items::before {
    left: 7px;
  }
  .timeline-item:nth-child(odd) {
    padding-right: 0;
    text-align: left;
  }
  .timeline-item:nth-child(odd),
  .timeline-item:nth-child(even) {
    padding-left: 37px;
  }
  .timeline-dot {
    left: 0;
  }
  .contact form {
    flex-direction: column;
  }
  .footer {
    padding: 2rem 3%;
  }
}
@media (max-width: 895px) {
  #menu-icon {
    display: block;
  }
  .navbar {
    position: absolute;
    top: 100%;
    right: 0;
    width: 50%;
    padding: 1rem 3%;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(20px);
    border-bottom-left-radius: 2rem;
    border-left: 2px solid var(--main-color);
    border-bottom: 2px solid var(--main-color);
    display: none;
  }
  .navbar.active {
    display: block;
  }
  .navbar a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
    color: white;
  }
  .home {
    flex-direction: column-reverse;
    margin: 5rem 4rem;
  }
  .home-content h3 {
    font-size: 2.6rem;
  }
  .home-content h1 {
    font-size: 8rem;
    margin-top: 3rem;
  }
  .home-content p {
    max-width: 600px;
    margin: 0 auto;
  }
  .home-img img {
    width: 56vw;
  }

  .projects-container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 100vh;
  }
  .projects-box {
    margin: 0 auto 1.5rem;
    width: 90%;
    height: 540px;
    overflow: hidden;
  }
  .projects-box a img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
  }
  .carousel-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .carousel-controls button {
    position: relative;
    font-size: 0;
  }
  .carousel-controls .prev-btn::before,
  .carousel-controls .next-btn::before {
    font-size: 1.5rem;
    content: "";
    text-align: center;
  }
  .carousel-controls .prev-btn::before{
    content: "\02C4";
  }
  .carousel-controls .next-btn::before {
    content: "\02C5";
  }
  .carousel-controls .prev-btn, .carousel-controls .next-btn {
    width: auto;
    padding: 1rem;
  }
}
